/*---global---*/
html {
    font-size: 100%; /*browser default size*/
}
section {
    padding: 64px 12px;
}
header {
    padding: 1rem;
    border-bottom: 6px solid #f3976c;
}
footer {
    padding: 1.5rem;
}
.contact main .bloc {
    padding: 64px 12px;
}
.text-justify {
    text-align: justify;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-size: 0.9rem;
}
.hero-bloc-text, .hero-sub-text, .cta-text {
    color: white;
    position: relative;
}
.row {
    margin: 0;
}
.site-navigation li, a {
    transition: all .2s ease-in-out;
}
.site-navigation li {
    font-weight: 600;
    border-radius: 5px;
}
fieldset label {
    margin: 24px 0 2px 0;
    padding-left: 2px;
}

/*---focus---*/
a:hover a:focus {
    color: white;
}
a:focus,
button:focus {
    outline: dotted red 3px;
    outline-offset: 5px;
}
.focus-alt:focus {
    outline-color: white !important;
}
footer a:focus {
    outline-color: black;
}
svg:focus {
    outline: none;
}
.navbar-toggle:focus {
    outline: dotted red 3px;
}


/*---svg icons---*/
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-angle-up {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}
a.social svg.icon {
    border: 2px solid rgba(0,0,0,0);
    padding: 5px;
    font-size: 2.7rem;
    color: black;
}
a.social svg.icon:hover {
    border-color: rgba(0,0,0,1);
}

.icon-browser {
    width: 1.3125em;
}
.icon-browser, .icon-edit {
    background-color: #f3976c;
}

/*---address and blockquote ---*/
address {
    text-align: center;
    margin: 50px 0 0 0;
}
address a {
    color: black;
}
address a:hover {
    color: initial;
}
blockquote {
    border-left: none;
    font-style: italic;
}
blockquote p {
    font-size: 1.3rem;
}
blockquote p::before {
    content: "\201C";
}
blockquote p::after {
    content: "\201D";
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 1.875rem;
}
h3 {
    font-size: 1.5rem;
}

/*---old code updated---*/
body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
}

a,
button {
    transition: all .3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
}

.texture-paper::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("img/texture-paper-alt.png");
    background-size: 140px 140px;
}

.b-parallax {
    background-attachment: fixed;
}

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1);
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6);
}

.voffset {
    margin-top: 30px;
}

.voffset-lg {
    margin-top: 80px;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand {
    height: auto;
    padding: 0;
    margin-left: 12px;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
}

.navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
}

.nav > li a:hover,
.nav > li a:focus {
    background-color: #d23e07;
    border-radius: 5px;
    color: white;
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
}

.nav-invert .navbar .nav {
    float: left;
}

.nav-invert .navbar-header,
.nav-invert .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav-invert .site-navigation {
        left: 0;
        right: 0;
    }
    .nav-center {
        text-align: center;
    }
    .nav-center .navbar-header {
        width: 100%;
    }
    .nav-center .navbar-header,
    .nav-center .navbar-brand,
    .nav-center .nav > li {
        float: none;
        display: inline-block;
    }
    .nav-center .site-navigation {
        position: relative;
        width: 100%;
        right: 0;
        margin-right: 0;
        margin-top: 20px;
    }
    .nav-center.mini-nav .navbar-toggle {
        float: none;
        margin: 10px auto 0;
    }
}

.nav > li > .dropdown a {
    display: block;
    padding: 14px 15px;
}

nav .caret {
    margin: 0 5px;
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%;
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu .dropdown span {
    border-left: 4px solid black;
    float: right;
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-lg {
    font-size: 4rem;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 500;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    opacity: 1;
    visibility: visible;
}

a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
    font-size: 2.3rem;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.lightbox-caption {
    text-align: center;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    border: none;
}
span.fa-chevron-left::before {
    content:"\002039";
}
span.fa-chevron-right::before {
    content:"\00203A";
}
.next-lightbox,
.prev-lightbox {
    position: absolute;
    top: 50%;
    z-index: 1;
    text-decoration: none !important;
}
.next-lightbox,
.prev-lightbox, .close-lightbox {
    font-size: 2.5rem;
    font-weight: bold;
    background: white;
    padding: 4px;
    line-height: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
}
.close-lightbox, span.fa-chevron-left::before, span.fa-chevron-right::before {
    color: black;
}
.next-lightbox {
    right: 20px;
}

.prev-lightbox {
    left: 20px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica", sans-serif;
    color: #353535;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-weight: 700;
    margin-bottom: 48px;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto;
}

.cta-hero {
    text-transform: uppercase;
    padding: 12px 28px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 64px;
}
.cta-text {
    font-size: 1.3rem;
    font-weight: 600;
}

.social {
    max-width: 400px;
    margin: auto;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0 0 0 black;
}

.portfolio-thumb {
    margin-bottom: 24px;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    background-color: #29345a;
    padding: 40px;
    border-radius: 10px;
}
.black-background h2 {
    color: #f3976c;
    line-height: 1.4;
    font-size: 1.5rem;
}
.black-background p {
    color: white;
    line-height: 1.5;
}

.bold-link {
    font-weight: 900;
}

.bgc-dark-slate-blue {
    background-color: #29345a;
}

.bgc-atomic-tangerine {
    background-color: #f3976c;
}

.btn-atomic-tangerine {
    background: #d23e07;
    color: white;
    display: inline-block;
}

.btn-atomic-tangerine:hover, .btn-atomic-tangerine:focus {
    background-color: #b23406;
    color: white;
}
.btn-atomic-tangerine:focus {
    outline: dotted red 3px;
    outline-offset: 5px;
    text-decoration: none;
}

.bg-banniere {
    background-image: url("img/banniere-la-chouette-agence-h450.jpg");
}
.bg-banniere-alt {
    background-image: url("img/banniere-la-chouette-agence-h450.jpg");
}

.bg-presentation {
    background-image: url("img/bg-la-chouette-agence.jpg");
}


@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0 10px;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background-color: #f3976c;
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border-top: 4px solid black;
    }
    .hero {
        padding: 50px 0;
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-left: 0;
        padding-right: 0;
    }
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
    form {
        padding: 5px;
    }
    .black-background {
        padding: 24px;
    }
    .black-background * {
        padding: 0;
    }
    .prev-lightbox, .next-lightbox {
        opacity: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    .lightbox-caption {
        font-size: 13px;
    }
}